<a href={{messageHeaderInfo.convoURL}} class="list-group-item list-group-item-action">
    <div class="row messages-list">
        <!-- {{url}} -->
        <div class="col-3">

            <img class="messages-pictures" src={{messageHeaderInfo.imageURL}}>

        </div>
        <div class="col-6">
            <span class="messages-name">{{messageHeaderInfo.to}}</span>
            <p>{{messageHeaderInfo.subject}}</p>
        </div>
        <div class="col-3 messages-date">{{messageHeaderInfo.lastMessagedDate}}</div>

    </div>
</a>