<div class="row posts-individual">
    <div class="col-2">
        <a href="/user/{{postDetail.userid}}"><img class="posts-user-picture" src="{{postDetail.imageurl}}" /></a>
    </div>

    <div id="posts-start-of-subject" class="col-10">

        <!-- Sets the subject and topic in a custom box -->
        <div class="row">
            <div class="col-9">
                <a href="/post/{{postDetail.postid}}"><span class="posts-subject-text">{{postDetail.subject}}</span></a>
            </div>
            <div class="col-3 posts-topic-text">
                <span>{{postDetail.topic}}</span>
            </div>
        </div>

        <!-- Text details of post subject matter, hidden after 3 rows, see element p css -->
        <div class="row">
            <div class="col">
                <p id="posts-content-text">{{postDetail.postdetail}}</p>
            </div>
        </div>

        <!-- Date and replies tally -->
        <div class="row">
            <div class="col-9 posts-date">
                <span>{{postDetail.timestamp}}</span>
            </div>
            <div class="col-3 posts-replies">
                <span><a onclick="show_hide(this)">{{postDetail.replies}} Replies</a></span>
            </div>
        </div>

        <!-- Each individual reply -->
        {{#each postDetail.replyDetail}}
        {{>singleReply replyDetail=this}}
        {{/each}}

        <!-- The reply form -->
        <div class="row reply-hide singlePost-reply-comment">
            <form action="/post/{{postDetail.postid}}/replies/comment" method="POST">
                <textarea>

                </textarea>
                <input type="submit">
            </form>
        </div>

    </div>
</div>


<script>
    function show_hide(element) {
        let masterNode = element.parentNode.parentNode.parentNode.parentNode.getElementsByClassName("singlePost-reply-box");
        let replyBox = element.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByClassName("singlePost-reply-comment")[0];
        console.log(replyBox);
        for (let i = 0; i < masterNode.length; i++) {
            if (masterNode[i].classList.contains("reply-hide")) {
                masterNode[i].classList.remove("reply-hide");
                masterNode[i].classList.add("reply-show");
            } else {
                masterNode[i].classList.remove("reply-show");
                masterNode[i].classList.add("reply-hide");
                replyBox.classList.add("reply-hide");
            }


        }
        if (replyBox.classList.contains("reply-hide")) {
            replyBox.classList.remove("reply-hide");
            replyBox.classList.add("reply-show");
        } else {
            replyBox.classList.remove("reply-show");
            replyBox.classList.add("reply-hide");
        }
    }
</script>