
<img src="{{url}}">
<p>Name: {{name}}</p>
<p>Details: {{facts}}</p>
<p>Posts: {{posts}} </p>
<p>Likes: {{likes}} </p>
{{#if myProfile}}
    <form id="editProfile" action="/user/{{userid}}/edit_profile" method="GET">
        <button class="btn btn-primary" type="submit">Edit profile</button>
    </form>
{{/if}}
